// Colors

$black:					#1d1d1d;
$black-brighter:		#333;
$black-brightest:		#666;

$gray:					#aaa9a9;
$gray-lighter:			#d8d8d8;

$white-darker:			#f2f2f2;

$color-page-background:	$black;
$color-button-hover:	$black;
