// Fonts

$lato:				'Lato';
$lora:				'Lora', sans-serif;


// Font weights

$bold:				700;
$regular:			400;



// Default

$base-font-size:	16;
$text:				$lora;
$grid-base-width:	1230;
$content-width:		810;
