.o-container {
	@include border-top-left-radius;
	@include border-top-right-radius;
	position: relative; z-index: 5;
	max-width: 1600px;
	background-image: url(../img/pattern.png);
	margin: 0 auto;
	padding: 40px;
	
	@media screen and ( max-width: 1350px ) {
		padding: grid(40);
	}
	
	@media screen and ( max-width: 640px ) {
		padding: 0;
		
		.home & {
			padding: grid(40);
		}
	}
}
